<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Danube Test Automation Test Suite">

	<listeners>
		<listener class-name="com.danube.qa.extentReport.ExtentReportListener" />
	</listeners>


	<test name="Danube Test Cases">
		<classes>
			<class name="com.danube.qa.testcases.LoginPageTest"></class>
			
		</classes>
	</test>
</suite>